
<div class="container blue">
	<div ng-init="showCars=false">
		<ul ng-repeat="list in detailsList">
		<div >
		<ui>
			<li style="text-align:left;float:left; padding-left:30px">Name{{details.name}}</li>
			<a style="text-align:right;float:right; padding-top:20px; padding-right:20px;    font-size: 40px " href="" ng-show="!showCars" ng-click="showCars=!showCars">+</a>
					<a style="text-align:right;float:right;  padding-top:20px; padding-right:20px;     font-size: 40px "  href="" ng-show="showCars" ng-click="showCars=!showCars">-</a>
			<li>{{details.city}}</li>
			</div>
			<div ng-show="showCars">
				<li>Hello{{details.rent}}</li>
			</div>
		</ul>
	</div>
</div> --> 
<!--<ul ng-repeat="list in detailsList">
	<div class="container customer" ng-init="showDetails=false">
		<div>	
			<li><span class="user-name">{{list.name}}</span>
					<a class="action" href=""
				ng-show="!showDetails" ng-click="showDetails=!showDetails">+</a>
				<a
				class="action" href="" ng-show="showDetails"
				ng-click="showDetails=!showDetails">-</a>
			</li>
		</div>
		<div ng-show="showDetails">
			<label>Searched Data</label>
			<h4>{{list.city}}</h4>
			<label>Searched Data</label>
			<li>{{list.rent}}</li>
		</div>
	</div>
</ul> -->
<div class="block">
	<h4>Your estimated total monthly bill is $319.06</h4>
	<button class="button button4">Add line</button>
</div>


<!-- <div class="foo blue">
</div>
<div class="foo blue">
</div>
<div class="foo blue">
</div> -->
<div>
<div class="wrapper">
	<div class="customer" ng-init="showDetails=false"
		ng-repeat="list in detailsList">
		<div class="block">
			<p>
				<span class="user-name">{{list.name}}'s line</span> <span><a
					class="action" href="" ng-show="!showDetails"
					ng-click="showDetails=!showDetails">+</a> <a class="action" href=""
					ng-show="showDetails" ng-click="showDetails=!showDetails">-</a> </span>
			</p>
			<div>
				<p class="user-phone">{{list.phoneNumber}}</p>
			</div>
			<div>
				<a href="">Upgrade eligibility</a>
			</div>
			<div>
				<p class="right">
					est.line costs: $ <span class="bold">{{list.estLineCost}}</span>
				</p>
			</div>
			<p>
				<span class="bold">Effective Date</span> <span class="right">$
					{{list.effectiveDate}}</span>
			</p>
			<p>
				<span class="bold">Account Level Charges & Credits </span> <span class="right bold">$
					{{list.accountLevelChargesAndCredits}}</span>
			</p>
		</div>
		<div class="block" ng-show="showDetails">
			<p>
				<span class="bold">Effective Date</span> <span class="right">$
					{{list.effectiveDate}}</span>
			</p>
			<p>
				<span class="bold">Data Usage</span>
			</p>
			<p>
				<span class="bold">Products & Apps <a href="">Manage</a></span> <span class="right bold">$
					{{list.productsAndApps}}</span>
			</p>
			<p>
				<span>Verizon Cloud-25 GB</span> <span class="right">$
					{{list.verizonCloud}}</span>
			</p>
			<p>
				<span>Road Side Assistance</span> <span class="right">$
					{{list.roadSideAssistance}}</span>
			</p>
			<p>
				<span>Total Mobile Protection</span> <span class="right">$
					{{list.totalMobileProtection}}</span>
			</p>
			<p>
				<span>Family Base Child</span> <span class="right">$
					{{list.familyBaseChild}}</span>
			</p>
			<p>
				<span>HD Voice</span> <span class="right">$ {{list.hdVoice}}</span>
			</p>
			<p>
				<span class="bold">International Options <a href="">Manage</a></span> <span class="right bold">$
					{{list.internationalOptions}}</span>
			</p>
			<p>
				<span>Mexico & Canada</span> <span class="right">$
					{{list.mexicoAndCanada}}</span>
			</p>
			<p>
				<span class="bold">Promos & Discounts</span>
			</p>
			<p>
				<span>FREE 25GB CLOUD</span> <span class="right">
					{{list.freeCloud}}</span>
			</p>
			<p>
				<span>50%-Access Discount On eligible...</span> <span class="right">
					{{list.accessDiscountOnEligible}}</span>
			</p>
			<hr>
			<p>
				<span class="bold">Device</span>
			</p>
			<p>
				<span class="regular"><a href="">{{list.deviceName}}</a></span> <span class="right">
					{{list.amountPaidInPercentage}}% paid</span>
			</p>
			<!-- <p><span class="bold">Amount Paid:</span> <span class="right">$ {{list.amountPaidInPercentage}}</span></p> -->
			<p>
				<span class="regular"> <a href="">View Agreement Details</a></span> <span class="right">$
					{{list.viewAgreementDetails}}</span>
			</p>

			<div class="block ">
				<button class="button button4">See upgrade options</button>
				<button class="button button5">Pay off device</button>
			</div>
		</div>
	</div>
</div>
</div>
///////////////
<!-- <!-- <h1>View tab is Filled</h1> -->
<!-- <img ng-src = "demoPics/UploadFile.png" style = "width:200px; height:100px;"/> -->
<!-- <table id="datatable-buttons"
	class="datatable-buttons table table-striped table-bordered table-hover exportable"
	style="width: 100%; cellspacing: 0">
	<thead style="color: black; background-color: lightblue">
		<tr>
			<th>NAME</th>
			<th>JOB TITLE</th>
			<th>DEPARTMENT</th>
			<th>ANNUAL SALARY</th>
			<th>ESTIMATED ANNUAL SALARY</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in empListWithJobTitle | filter:search ">
			<td>{{student.name}}</td>
			<td>{{student.jobTitle}}</td>
			<td>{{student.department}}</td>
			<td>{{student.annualSalary}}</td>
			<td>{{student.estimatedAnnualSalary}}</td>
		</tr>
	</tbody>
</table>
<a href="http://www.google.com/"><span>Google</span></a> -->



<!--                         
		                             <div class="foo blue">
     <h1>Name</h1>
     <div ng-init="showCars=false">
      <a href="" ng-show="!showCars" ng-click="showCars=!showCars">+</a>
      <a href="" ng-show="showCars" ng-click="showCars=!showCars">-</a>
      </div>
      </div>
     <h2>price</h2> -->


<!-- <div class="container blue">
	<div ng-init="showCars=false">
		<div>
			<label>
				<div class="panelAlignment">
				<h1 style="text-align:left;float:left;">Title</h1> 
				<h2 style="text-align:right;float:right;     padding-left:30px">Context</h2> 
					<h4 style="text-align:left;float:left; padding-left:30px">Name</h4>
					<a style="text-align:right;float:right; padding-top:20px " href="" ng-show="!showCars" ng-click="showCars=!showCars">+</a>
					<a style="text-align:right;float:right;  padding-top:20px "  href="" ng-show="showCars" ng-click="showCars=!showCars">-</a>
					<a href="" ng-click="showCars=!showCars">My Cars</a>
				</div>
				<h4>Est Price</h4>
			</label>
		</div>
		<div ng-show="showCars">
			<h1>1</h1>
			<h2>2</h2>
		</div>
	</div>
</div>


<div class="container blue">
	<div ng-init="showCars=false">
		<ul ng-repeat="list in detailsList">
		<div >
		<ui>
			<li style="text-align:left;float:left; padding-left:30px">Name{{details.name}}</li>
			<a style="text-align:right;float:right; padding-top:20px; padding-right:20px;    font-size: 40px " href="" ng-show="!showCars" ng-click="showCars=!showCars">+</a>
					<a style="text-align:right;float:right;  padding-top:20px; padding-right:20px;     font-size: 40px "  href="" ng-show="showCars" ng-click="showCars=!showCars">-</a>
			<li>{{details.city}}</li>
			</div>
			<div ng-show="showCars">
				<li>Hello{{details.rent}}</li>
			</div>
		</ul>
	</div>
</div> --> 
<!--<ul ng-repeat="list in detailsList">
	<div class="container customer" ng-init="showDetails=false">
		<div>	
			<li><span class="user-name">{{list.name}}</span>
					<a class="action" href=""
				ng-show="!showDetails" ng-click="showDetails=!showDetails">+</a>
				<a
				class="action" href="" ng-show="showDetails"
				ng-click="showDetails=!showDetails">-</a>
			</li>
		</div>
		<div ng-show="showDetails">
			<label>Searched Data</label>
			<h4>{{list.city}}</h4>
			<label>Searched Data</label>
			<li>{{list.rent}}</li>
		</div>
	</div>
</ul> -->
<div class="wrap">
    <div class="fleft">
    	<div class="block">
	<h4>Your estimated total monthly bill is $319.06</h4>
	<button class="button primary">Add line</button>
</div>
    </div>
    <div class="fright"></div>
    
</div>

<!--<div class="block">
	<h4>Your estimated total monthly bill is $319.06</h4>
	<button class="button button4">Add line</button>
</div>

 -->
<!-- <div class="foo blue">
</div>
<div class="foo blue">
</div>
<div class="foo blue">
</div> -->

<div class="wrap members">
<div class="wrapper">
	<div class="customer" ng-init="showDetails=false"
		ng-repeat="list in detailsList">
		<div class="block default">
			<p>
				<span class="user-name">{{list.name}}'s line <span id="acc" ng-if="$index==0">Account owner</span></span> <span><a
					class="action" href="" ng-show="!showDetails"
					ng-click="showDetails=!showDetails">+</a> <a class="action" href=""
					ng-show="showDetails" ng-click="showDetails=!showDetails">-</a> </span>
			</p>
				<p class="user-phone">{{list.phoneNumber}}</p>
			<p>
				<a href="">Upgrade eligibility</a>
				</p>
				<!-- <div>
			<span class="bold"></span>
				<p class="right">
					est.line costs: $ <span class="bold">{{list.estLineCost}}</span>
				</p>
			</div> -->
			<p>
				<span class="bold"></span> <span class="right bold">
					est.line costs: ${{list.estLineCost}}</span>
			</p>
			<p ng-if="$index==0 && showDetails==true">
				<span class="bold">FamilyBase</span> <span class="right">$
					{{list.familyBase}}</span>
			</p>
			
			<!-- <p>
				<span class="bold">Effective Date</span> <span class="right">
					{{list.effectiveDate}}</span>
			</p> -->
			<p ng-if="$index==0 && showDetails==true">
				<span class="bold">Account Level Charges & Credits </span> <span class="right bold">$
					{{list.accountLevelChargesAndCredits}}</span>
			</p>
			<p ng-if="$index==0 && showDetails==true">
				<span class="bold">Auto Pay & Paper Free Discount </span> <span class="right bold">$
					{{list.autoPayPaperFreeDiscount}}</span>
			</p>
		</div>
		<div class="block" ng-show="showDetails">
		<hr ng-if="$index==0 && showDetails==true">
			<p>
				<span class="bold">Line Level Charges & Credits</span>
			</p>
			<p>
				<span class="bold">Effective Date</span> <span class="right">$
					{{list.effectiveDate}}</span>
			</p>
			<p>
				<span class="bold">Data Usage</span>
			</p>
			<p>
				<span class="bold">Products & Apps <a href="">Manage</a></span> <span class="right bold">$
					{{list.productsAndApps}}</span>
			</p>
			<p>
				<span>Verizon Cloud-25 GB</span> <span class="right">$
					{{list.verizonCloud}}</span>
			</p>
			<p>
				<span>Road Side Assistance</span> <span class="right">$
					{{list.roadSideAssistance}}</span>
			</p>
			<p>
				<span>Total Mobile Protection</span> <span class="right">$
					{{list.totalMobileProtection}}</span>
			</p>
			<p>
				<span>Family Base Child</span> <span class="right">$
					{{list.familyBaseChild}}</span>
			</p>
			<p>
				<span>HD Voice</span> <span class="right">$ {{list.hdVoice}}</span>
			</p>
			<p>
				<span class="bold">International Options <a href="">Manage</a></span> <span class="right bold">$
					{{list.internationalOptions}}</span>
			</p>
			<p>
				<span>Mexico & Canada</span> <span class="right">$
					{{list.mexicoAndCanada}}</span>
			</p>
			<p>
				<span class="bold">Promos & Discounts</span>
			</p>
			<p>
				<span>FREE 25GB CLOUD</span> <span class="right">
					{{list.freeCloud}}</span>
			</p>
			<p>
				<span>50% - Access Discount On eligible...</span> <span class="right">
					{{list.accessDiscountOnEligible}}</span>
			</p>
			<hr>
			<p>
				<span class="bold">Device</span>
			</p>
			<p>
				<span class="regular"><a href="">{{list.deviceName}}</a></span> <span class="right">
					{{list.amountPaidInPercentage}}% paid</span>
			</p>
			<!-- <p><span class="bold">Amount Paid:</span> <span class="right">$ {{list.amountPaidInPercentage}}</span></p> -->
			<p>
				<span class="regular"> <a href="">View Agreement Details</a></span> <span class="right">$
					{{list.viewAgreementDetails}}</span>
			</p>

			<div class="block ">
				<button class="button primary">See upgrade options</button>
				<button class="button secondary">Pay off device</button>
			</div>
		</div>
	</div>
</div>
</div>
<!-- "effectiveDate":"05/30/2018",
		"dataUsage":"",
		"productsAndApps":16.99,
		"verizonCloud":2.99,
		"roadSideAssistance":3.00,
		"totalMobileProtection":11.00,
		"familyBaseChild":0.00,
		"hdVoice":0.00,
		"internationalOptions":0.00,
		"mexicoAndCanada":0.00,
		"promosAndDiscounts":"",
		"free25GbCloud":"No Expiration",
		"accessDiscountOnEligible":"No Expiration",
		"deviceName":"Iphone X",
		"amountPaid":63,
		"viewAgreementDetails":23.99 -->





















<!-- <div ng-show="showCars">
        <div ng-repeat="car in cars">
          <label class="control-label col-lg-4">{{car}}</label>
        </div>
      </div> -->
